# Python virtual environment
# Ignore Python virtual environment directories
venv/
__pycache__/
*.pyc
.env
data/*
outputs/*
models/*
.venv/

.ipynb_checkpoints/
node_modules/
package-lock.json
npm-debug.log
ui/package-lock.json