# Python virtual environment
# Ignore Python virtual environment directories
venv/
__pycache__/
*.pyc
.env
data/*
data/synth_v2/*
outputs/*
models/*
.venv/

.ipynb_checkpoints/
node_modules/
package-lock.json
npm-debug.log
ui/package-lock.json
ui/uploads/
Report_Files/* 