# Core deep learning
torch>=2.1
torchvision>=0.16
pycocotools

# Image and vision
opencv-python
pillow
numpy
albumentations
matplotlib
seaborn

# Utilities
tqdm
requests
python-dotenv
openai>=1.0.0
json5
transformers
scikit-learn

# 3D & simulation
open3d
trimesh
pybullet    # For simulation

# Optional
# picamera2>=0.3.17
# pytesseract>=0.3.10
flask
onnxruntime
